.footer_area {
    background: #000; }
  
  .f_title {
    margin-bottom: 35px; }
    .f_title h3 {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      font-family: "Heebo", sans-serif;
      margin-bottom: 0px; }
  
  .ab_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 30px; }
    .ab_widget p a {
      color: #766dff; }
    .ab_widget p + p {
      margin-bottom: 0px; }
  
  .news_widget {
    padding-right: 15px; }
    .news_widget p {
      font-size: 14px;
      line-height: 24px;
      font-family: "Roboto", sans-serif;
      color: #777777;
      margin-bottom: 15px; }
    .news_widget .input-group input {
      height: 40px;
      background: transparent;
      border-radius: 0px;
      width: 80%;
      border: none;
      padding: 0px 15px;
      border: 1px solid #1e233b;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #cccccc;
      outline: none;
      box-shadow: none; }
      .news_widget .input-group input.placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input:-moz-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input::-moz-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input::-webkit-input-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
    .news_widget .input-group .sub-btn {
      border-radius: 0px;
      background-image: linear-gradient(to left bottom, #845ec2, #4274cd, #0081c5, #008ab2, #008e9b);
      outline: none !important;
      box-shadow: none !important;
      padding: 0px;
      border: none;
      width: 42px;
      cursor: pointer;
      color: #fff; }
  
  .social_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 10px; }
  .social_widget .list li {
    margin-right: 17px;
    display: inline-block; }
    .social_widget .list li a {
      color: #cccccc;
      font-size: 14px;
      transition: all 300ms linear 0s; }
    .social_widget .list li:last-child {
      margin-right: 0px; }
    .social_widget .list li:hover a {
      color: #766dff; }
  
  .copy_right_text {
    text-align: center;
    margin-top: 60px; }
    .copy_right_text p a {
      color: #766dff; }
  