@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700");

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }
#margin-bot-60{
  margin-bottom: 60px;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

body {
  line-height: 26px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", sans-serif;
  font-weight: bold; }

button:focus {
  outline: none;
  box-shadow: none; }

.p0 {
  padding-left: 0px;
  padding-right: 0px; }

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.p_100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.pad_top {
  padding-top: 120px; }

.pad_bt {
  padding-bottom: 120px; }

.mt-25 {
  margin-top: 25px; }

.logo{
  width: 50%;
  height: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 700px;
    margin: auto;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; } }
/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  max-width: 670px;
  margin: 0px auto 75px; }
  .main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .main_title p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: #777777;
    margin-bottom: 0px; }

/* End Main Title Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear; }
  .header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 12px/120px "Roboto", sans-serif;
        text-transform: uppercase;
        color: #fff;
        padding: 0px;
        display: inline-block; }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: #fff; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff;
          box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px; } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 1px solid #ededed;
            margin-left: 0px;
            transition: all 0.4s linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
              line-height: 45px;
              color: #222222;
              padding: 0px 30px;
              transition: all 150ms linear;
              display: block;
              margin-right: 0px; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
              background: #766dff;
              color: #fff; }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0px; }
    .header_area .navbar .search {
      font-size: 12px;
      line-height: 60px;
      display: inline-block;
      color: #222222;
      margin-left: 80px; }
      .header_area .navbar .search i {
        font-weight: 600; }
  .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #000;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; }

.top_menu {
  background: #f9f9ff; }
  .top_menu .header_social li {
    display: inline-block;
    margin-right: 15px; }
    .top_menu .header_social li a {
      font-size: 14px;
      color: #777777;
      display: inline-block;
      line-height: 42px;
      transition: all 300ms linear 0s; }
    .top_menu .header_social li:last-child {
      margin-right: 0px; }
    .top_menu .header_social li:hover a {
      color: #766dff; }
  .top_menu .dn_btn {
    line-height: 42px;
    display: inline-block;
    font-size: 12px;
    margin-right: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
    transition: all 300ms linear 0s; }
    .top_menu .dn_btn:hover {
      color: #766dff; }
    .top_menu .dn_btn:last-child {
      margin-right: 0px; }
  .top_menu .lan_pack {
    height: 30px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    line-height: 28px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding-left: 19px;
    padding-right: 36px;
    color: #777777;
    background: #f9f9ff;
    margin-right: 5px;
    margin-top: 8px; }
    .top_menu .lan_pack .current {
      color: #777777; }
    .top_menu .lan_pack:after {
      content: "\f0d7";
      border: none !important;
      font: normal normal normal 12px/1 FontAwesome;
      transform: rotate(0deg);
      height: auto;
      margin-top: -6px;
      right: 20px; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to left bottom, #845ec2, #4274cd, #0081c5, #008ab2, #008e9b);
  margin-bottom: 200px; }
  .home_banner_area .box_1620 {
    min-height: 300px;
    border-radius: 12px;
    position: relative;
    bottom: -200px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3); }
  .home_banner_area .banner_inner {
    position: relative;
    width: 100%;
    min-height: 300px;
    display: flex; }
    .home_banner_area .banner_inner .banner_content {
      color: #222222;
      vertical-align: middle;
      align-self: center;
      text-align: left; }
      .home_banner_area .banner_inner .banner_content .media .d-flex {
        padding-right: 125px; }
      .home_banner_area .banner_inner .banner_content .media .media-body {
        vertical-align: middle;
        align-self: center; }

.banner_box {
  max-width: 1620px;
  margin: auto; }

.banner_area {
  position: relative;
  z-index: -1;
  min-height: 350px;
  background-image: linear-gradient(to left bottom, #845ec2, #4274cd, #0081c5, #008ab2, #008e9b);
  margin-bottom: 120px; }
  .banner_area .box_1620 {
    background: #fff;
    min-height: 260px;
    border-radius: 12px;
    position: relative;
    bottom: -120px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3); }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 360px;
    z-index: 1; }
    .banner_area .banner_inner .banner_content h2 {
      color: #222222;
      font-size: 48px;
      font-family: "Heebo", sans-serif;
      margin-bottom: 0px;
      font-weight: bold; }
    .banner_area .banner_inner .banner_content .page_link a {
      font-size: 14px;
      color: #222222;
      font-family: "Roboto", sans-serif;
      margin-right: 32px;
      position: relative; }
      .banner_area .banner_inner .banner_content .page_link a:before {
        content: "\e87a";
        font-family: 'Linearicons-Free';
        position: absolute;
        right: -25px;
        top: 50%;
        transform: translateY(-50%); }
      .banner_area .banner_inner .banner_content .page_link a:last-child {
        margin-right: 0px; }
        .banner_area .banner_inner .banner_content .page_link a:last-child:before {
          display: none; }
      .banner_area .banner_inner .banner_content .page_link a:hover {
        color: #766dff; }

/* End Home Banner Area css
============================================================================================ */

/*============== contact_area css ================*/
.contact_info .info_item {
  position: relative;
  padding-left: 45px; }
  .contact_info .info_item i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    color: #766dff;
    font-weight: 600; }
  .contact_info .info_item h6 {
    font-size: 16px;
    line-height: 24px;
    color: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    color: #222222; }
    .contact_info .info_item h6 a {
      color: #222222; }
  .contact_info .info_item p {
    font-size: 14px;
    line-height: 24px;
    padding: 2px 0px; }

.contact_form .form-group {
  margin-bottom: 10px; }
  .contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 1px solid #eeeeee;
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    padding-left: 20px; }
    .contact_form .form-group .form-control:focus {
      box-shadow: none;
      outline: none; }
    .contact_form .form-group .form-control.placeholder {
      color: #999; }
    .contact_form .form-group .form-control:-moz-placeholder {
      color: #999; }
    .contact_form .form-group .form-control::-moz-placeholder {
      color: #999; }
    .contact_form .form-group .form-control::-webkit-input-placeholder {
      color: #999; }
  .contact_form .form-group textarea {
    resize: none; }
    .contact_form .form-group textarea.form-control {
      height: 140px; }
.contact_form .submit_btn {
  margin-top: 20px;
  cursor: pointer; }

/*============== Elements Area css ================*/
.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.sample-text-area {
  padding: 100px 0px; }
  .sample-text-area .title_color {
    margin-bottom: 30px; }
  .sample-text-area p {
    line-height: 26px; }
    .sample-text-area p b {
      font-weight: bold;
      color: #766dff; }
    .sample-text-area p i {
      color: #766dff;
      font-style: italic; }
    .sample-text-area p sup {
      color: #766dff;
      font-style: italic; }
    .sample-text-area p sub {
      color: #766dff;
      font-style: italic; }
    .sample-text-area p del {
      color: #766dff; }
    .sample-text-area p u {
      color: #766dff; }

/*============== End Elements Area css ================*/
/*==============Elements Button Area css ================*/
.elements_button .title_color {
  margin-bottom: 30px;
  color: #222222; }

.title_color {
  color: #222222; }

.button-group-area {
  margin-top: 15px; }
  .button-group-area:nth-child(odd) {
    margin-top: 40px; }
  .button-group-area:first-child {
    margin-top: 0px; }
  .button-group-area .theme_btn {
    margin-right: 10px; }
  .button-group-area .white_btn {
    margin-right: 10px; }
  .button-group-area .link {
    text-decoration: underline;
    color: #222222;
    background: transparent; }
    .button-group-area .link:hover {
      color: #fff; }
  .button-group-area .disable {
    background: transparent;
    color: #007bff;
    cursor: not-allowed; }
    .button-group-area .disable:before {
      display: none; }

.primary {
  background: #52c5fd; }
  .primary:before {
    background: #2faae6; }

.success {
  background: #4cd3e3; }
  .success:before {
    background: #2ebccd; }

.info {
  background: #38a4ff; }
  .info:before {
    background: #298cdf; }

.warning {
  background: #f4e700; }
  .warning:before {
    background: #e1d608; }

.danger {
  background: #f54940; }
  .danger:before {
    background: #e13b33; }

.primary-border {
  background: transparent;
  border: 1px solid #52c5fd;
  color: #52c5fd; }
  .primary-border:before {
    background: #52c5fd; }

.success-border {
  background: transparent;
  border: 1px solid #4cd3e3;
  color: #4cd3e3; }
  .success-border:before {
    background: #4cd3e3; }

.info-border {
  background: transparent;
  border: 1px solid #38a4ff;
  color: #38a4ff; }
  .info-border:before {
    background: #38a4ff; }

.warning-border {
  background: #fff;
  border: 1px solid #f4e700;
  color: #f4e700; }
  .warning-border:before {
    background: #f4e700; }

.danger-border {
  background: transparent;
  border: 1px solid #f54940;
  color: #f54940; }
  .danger-border:before {
    background: #f54940; }

.link-border {
  background: transparent;
  border: 1px solid #766dff;
  color: #766dff; }
  .link-border:before {
    background: #766dff; }

.radius {
  border-radius: 3px; }

.circle {
  border-radius: 20px; }

.arrow span {
  padding-left: 5px; }

.e-large {
  line-height: 50px;
  padding-top: 0px;
  padding-bottom: 0px; }

.large {
  line-height: 45px;
  padding-top: 0px;
  padding-bottom: 0px; }

.medium {
  line-height: 30px;
  padding-top: 0px;
  padding-bottom: 0px; }

.small {
  line-height: 25px;
  padding-top: 0px;
  padding-bottom: 0px; }

.general {
  line-height: 38px;
  padding-top: 0px;
  padding-bottom: 0px; }

/*==============End Elements Button Area css ================*/
/* =================================== */
/*  Elements Page Styles
/* =================================== */
/*---------- Start Elements Page -------------*/
.generic-banner {
  margin-top: 60px;
  text-align: center; }

.generic-banner .height {
  height: 600px; }

@media (max-width: 767.98px) {
  .generic-banner .height {
    height: 400px; } }
.generic-banner .generic-banner-content h2 {
  line-height: 1.2em;
  margin-bottom: 20px; }

@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content h2 br {
    display: none; } }
.generic-banner .generic-banner-content p {
  text-align: center;
  font-size: 16px; }

@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content p br {
    display: none; } }
.generic-content h1 {
  font-weight: 600; }

.about-generic-area {
  background: #fff; }

.about-generic-area p {
  margin-bottom: 20px; }

.white-bg {
  background: #fff; }

.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee; }

.switch-wrap {
  margin-bottom: 10px; }

.switch-wrap p {
  margin: 0; }

/*---------- End Elements Page -------------*/
.sample-text-area {
  padding: 100px 0 70px 0; }

.sample-text {
  margin-bottom: 0; }

.text-heading {
  margin-bottom: 30px;
  font-size: 24px; }

.typo-list {
  margin-bottom: 10px; }

@media (max-width: 767px) {
  .typo-sec {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .element-wrap {
    margin-top: 30px; } }
b, sup, sub, u, del {
  color: #f8b600; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #777777; }

.list-style {
  width: 14px;
  height: 14px; }

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important; }

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #f8b600;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%; }

.ordered-list {
  margin-left: 30px; }

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important; }

.ordered-list li span {
  font-weight: 300;
  color: #777777; }

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important; }

.ordered-list-alpha li span {
  font-weight: 300;
  color: #777777; }

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important; }

.ordered-list-roman li span {
  font-weight: 300;
  color: #777777; }


.unordered-list {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.ordered-list {
  list-style: none;
  padding: 0px; }


@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px; } }
/* My Tabs Area css
============================================================================================ */
.mytabs_area {
  background-image: linear-gradient(to left bottom, #845ec2, #4274cd, #0081c5, #008ab2, #008e9b);}

.tabs_inner .nav.nav-tabs {
  display: block;
  text-align: center;
  border: none;
  margin-bottom: 120px; }
  .tabs_inner .nav.nav-tabs li {
    display: inline-block;
    margin-right: 8px; }
    .tabs_inner .nav.nav-tabs li a {
      margin: 0px;
      line-height: 50px;
      border-radius: 5px;
      padding: 0px 40px;
      font-size: 13px;
      font-weight: 500;
      color: #fff;
      font-family: "Roboto", sans-serif;
      border: 1px solid #9ab5f5;
      background: rgba(255, 255, 255, 0.1); }
      .tabs_inner .nav.nav-tabs li a.active {
        background: #fff;
        color: #222222; }
.tabs_inner .tab-content .tab-pane .list {
  max-width: 460px;
  margin: auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px; }
  .tabs_inner .tab-content .tab-pane .list:before {
    content: "";
    height: 100%;
    width: 5px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    top: -5px; }
  .tabs_inner .tab-content .tab-pane .list li {
    margin-bottom: 60px;
    position: relative; }
    .tabs_inner .tab-content .tab-pane .list li span {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      display: block;
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 46%;
      top: 30px;
      transform: translateX(-50%); }
      .tabs_inner .tab-content .tab-pane .list li span:before {
        content: '';
        height: 7px;
        width: 7px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 52%;
        top: 4px;
        transform: translateX(-50%); }
    .tabs_inner .tab-content .tab-pane .list li:last-child {
      margin-bottom: 0px; }
    .tabs_inner .tab-content .tab-pane .list li .media .d-flex {
      padding-right: 100px; }
      .tabs_inner .tab-content .tab-pane .list li .media .d-flex p {
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 0px;
        padding-top: 20px; }
    .tabs_inner .tab-content .tab-pane .list li .media .media-body h4 {
      color: #fff;
      font-size: 21px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .tabs_inner .tab-content .tab-pane .list li .media .media-body p {
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 0px; }




      .center{
        display: flex;
        justify-content: center;
        align-items: center;
      }